<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon Organizer</title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i|Open+Sans" rel="stylesheet">  <body>
    <nav id="nav"class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-hairSalon" href="/">Infinity</a>
          <a href="/stylist/list"><button type="button" class="btn btn-default navbar-btn all-stylist">View All Stylists</button></a>
          <a href="/stylist/form"><button type="button" class="btn btn-default navbar-btn add-stylist">Add Stylist</button></a>
        </div>
        <script src="/js/scripts.js"></script>
      </div>
    </nav>
    <article>
      @RenderBody()
    </article>
  </body>
</html>
