#index {
  background-image: url("/img/hair2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
}
#footer {
  margin-top: 15%;
  text-align: right;
  padding-right: 15px;
}
.move-right {
  margin-left: 50%;
}
#salon {
  font-size: 55px;
  margin-top: 30%;
  margin-bottom: 5%;
  margin-right: 27px;
  padding-bottom: 20px;
  font-family: 'IM Fell Great Primer', serif;
  color: #ffffff;
  letter-spacing: 11px;
  border-bottom: solid 2px;
}
.greeting-top, .greeting-bottom {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 5px;
}
.greeting-bottom {
  font-size: 60px;
  margin-top: 13%;
  letter-spacing: 9px;
}
.start {
  margin-top: 5%;
  margin-left: 33%;
  padding: 2% 12% 2% 12%;
  font-size: 20px;
  letter-spacing: 5px;
  background: transparent;
  border: solid 2px;
  color: #e3e3e3;
}
.start:hover {
  background: #0d0d0d;
  border-color: #0d0d0d;
  color: #e3e3e3;
  opacity: .8;
}
#nav {
  background: #0d0d0d;
  opacity: .7;
  border: none;
}
.navbar-hairSalon, .navbar-hairSalon:hover {
  margin-left: 10px;
  color: #e3e3e3;
  font-size: 16px;
  letter-spacing: 4px;
  font-family: 'IM Fell Great Primer', serif;
  text-decoration: none;
}
.all-stylist, .add-stylist {
  margin-left: 5em;
  letter-spacing: 5px;
  font-size: 15px;
  background-color: transparent;
  border: none;
  color: #e3e3e3;
}
.all-stylist:hover, .add-stylist:hover {
  font-style: italic;
  background-color: transparent;
  border: none;
  letter-spacing: 5px;
  color: #ffffff;
}
