html {
  height: 100%;
}
#index {
  background-image: url("/img/hair2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.move-right {
  margin-left: 50%;
}
#salon {
  font-size: 55px;
  margin-top: 30%;
  margin-bottom: 5%;
  margin-right: 27px;
  padding-bottom: 20px;
  font-family: 'IM Fell Great Primer', serif;
  color: #ffffff;
  letter-spacing: 11px;
  border-bottom: solid 2px;
}
.greeting-top, .greeting-bottom {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 5px;
  font-family: 'Open Sans', sans-serif;
}
.greeting-bottom {
  font-size: 60px;
  margin-top: 13%;
  letter-spacing: 9px;
  font-weight: bolder;
}
.start {
  margin-top: 5%;
  margin-left: 33%;
  padding: 2% 12% 2% 12%;
  font-size: 20px;
  letter-spacing: 5px;
  background: transparent;
  border: solid 2px;
  color: #e3e3e3;
}
.start:hover, .view-all:hover, .finish:hover, .view-clients:hover {
  background: #0d0d0d;
  border-color: #0d0d0d;
  color: #e3e3e3;
  opacity: .8;
}
#nav {
  background: #0d0d0d;
  opacity: .7;
  border: none;
}
.navbar-hairSalon, .navbar-hairSalon:hover {
  margin-left: 10px;
  color: #e3e3e3;
  font-size: 16px;
  letter-spacing: 4px;
  font-family: 'IM Fell Great Primer', serif;
  text-decoration: none;
}
.all-stylist, .add-stylist {
  margin-left: 5em;
  letter-spacing: 5px;
  font-size: 15px;
  background-color: transparent;
  border: none;
  color: #e3e3e3;
}
.all-stylist:hover, .add-stylist:hover {
  font-style: italic;
  background-color: transparent;
  border: none;
  letter-spacing: 5px;
  color: #ffffff;
}
#stylist-form {
  background-image: url("/img/bckgrd2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  text-align: center;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 50px;
  letter-spacing: 20px;
  margin: 5% 20% 3% 20%;
  padding: 15px 2% 15px 2%;
  color: #ffffff;
  background-color: #1e1e1e;
  opacity: .6;
}
.form-stylist {
  opacity: .7;
  background-color: #1e1e1e;
  border-color: #1e1e1e;
  border-radius: 0;
  margin-right: 50%;
  margin-top: 10% 50% 3% 2%;
  padding: 70px;
  color: #ffffff;
  letter-spacing: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
.form-client , .update-form {
  opacity: .6;
  background-color: #1e1e1e;
  border-color: #1e1e1e;
  border-radius: 0;
  margin: 10px 50% 20px 0;
  padding: 40px 60px 70px 60px;
  color: #ffffff;
  letter-spacing: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
.update-form {
  padding-bottom: 10%;
}
label, .stylist, .client {
  margin-bottom: 20px;
  border-radius: 0;
}
.add-button, .cancel {
  float: right;
  margin: 10px 0px 10px 20px;
  font-size: 16px;
  letter-spacing: 4px;
}
.add-button {
  background-color: #3c6094;
  border-color: #3c6094;
}
.add-button:hover, .add-stylist-list:hover, .add-client:hover, .update:hover {
  background-color: #000033;
  border-color: #000033;
}
.cancel:hover, .exit:hover, .add-client-cancel:hover, .delete:hover {
  background-color: #602525;
  border-color: #602525;
  color: #ffffff;
}
#new-stylist {
  background-image: url("/img/sinks.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-new-stylist {
  text-align: center;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 50px;
  letter-spacing: 20px;
  margin: 5% 10% 6% 10%;
  padding: 15px 2% 15px 2%;
  color: #ffffff;
  background-color: #1e1e1e;
  opacity: .7;

}
.new-stylist, .stylist-list, .client-list, .new-client {
  opacity: .7;
  margin: 5%;
}
.stylist, .stylist-list, .client, .client-list {
  font-size: 20px;
  color: #000000;
  letter-spacing: 5px;
  text-align: center;
}
.view-all, .finish, .add-stylist-list, .delete, .update{
  float: right;
  margin-top: 5%;
  margin-left: 2%;
  margin-bottom: 5%;
  letter-spacing: 4px;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  opacity: .9;
  background-color: #c7bebe;
  border: solid #c7bebe 2px;
  border-radius: 1;
  color: #000000;
}
.view-clients, .add-client, .exit, .add-client-cancel {
  float: right;
  margin: 1% 5% 2% 2%;
  letter-spacing: 4px;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  opacity: .9;
  background-color: #c7bebe;
  border: solid #c7bebe 2px;
  border-radius: 1;
  color: #000000;
}
#view-all-stylist {
  background-image: url("/img/hair-salon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.stylist-name, .stylist-name:visited, .client-name, .client-name:visited {
  list-style: none;
  color: #000000;
  font-size: 25px;
}
.stylist-name:hover, .stylist-name:active, .client-name:hover, .client-name:active {
  list-style-type: none;
  color: #000000;
  font-size: 25px;
  text-decoration: none;
  color: 	#3c6094;
}
#stylist-info {
  background-image: url("/img/hair-tools.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#client-form {
  background-image: url("/img/man.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#client-list {
  background-image: url("/img/hair3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#client-details {
  background-image: url("/img/blackhair.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#update-client {
  background-image: url("/img/scissors.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#delete-all {
  background-image: url("/img/hairtools.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
