@{
  Layout = "_Layout";
}
<body id="index">
  <div class="move-right">
    <h1 id="salon">Infinity Hair Salon</h1>

    <h2 class="greeting-top">Keep Your Salon Running Smooth</h2>
    <h2 class="greeting-bottom">Stylist Organizer</h2>


    <a href="/stylist/form"><button type="button" class="btn btn-default start">Start</button></a>
  </div>
</body>
