@{
  Layout = "_Layout";
}
<body id="index">
  <div class="moveRight">
    <h1 id="greeting">An Easy Way to Keep Your Stylists and Clients Organized</h1>

    <a href="/stylist/form"><button type="button" class="btn btn-default start">Start</button></a>
  </div>
</body>
