@{
  Layout = "_Layout";
}

<h1>@Model.GetStylistName()</h1>

<div class="well newStylist">
  <p><strong>Name:</strong>
    <br>
    @Model.GetStylistName()
  </p>
  <p><strong>Years Experience:</strong>
    <br>
    @Model.GetStylistExperience()
  </p>
  <p><strong>Education:</strong>
    <br>
    @Model.GetStylistEdu()
  </p>
</div>


<a href="/add/client/@Model.GetId()"><button type="button" class="btn btn-success">Add Client</button></a>
<a href="/"><button type="button" class="btn btn-default start">Exit</button></a>
