@{
  Layout = "_Layout";
}

<h1>Clients for </h1>

<div class="well stylistClients">
  <ul>
    @foreach (var client in Model)
    {
      <a href="/">@client.GetClientName();</a>
    }
  </ul>
</div>

<a href="/"><button type="button" class="btn btn-default start">Exit</button></a>
