@{
  Layout = "_Layout";
}

<body id="client-list">

  <h1 class="header">Client List</h1>

  <div class="container">
    <div class="well client-list">
      <ul>
        @foreach (var client in Model)
        {
          <a class="client-name" href="/client/details/@client.GetId()"><li>@client.GetClientName()</li></a>
        }
      </ul>
      <a href="/delete/all/clients"><button type="button" class="btn btn-danger delete">Delete All</button></a>
      <a href="/"><button type="button" class="btn btn-default finish">Exit</button></a>
    </div>
  </div>
