@{
  Layout = "_Layout";
}

<h1 class="header">Client List</h1>

<div class="well stylistClients">
  <ul>
    @foreach (var client in Model)
    {
      <a href="/client/details/@client.GetId()"><li>@client.GetClientName()<li></a>
    }
  </ul>
</div>

<a href="/delete/all/clients"><button type="button" class="btn btn-danger">Delete All</button></a>
<a href="/"><button type="button" class="btn btn-default start">Exit</button></a>
